# Compiled class file
# --- Datos del Mundo (Demasiado pesados para Git) ---
/world/
/world_nether/
/world_the_end/

# --- Archivos del Sistema y Logs ---
/logs/
/crash-reports/
/backups/
/usercache.json
/usernamecache.json
*.log
*.gz

# --- Archivos de ejecución (No los necesitas en Git) ---
/libraries/
/versions/
run.bat
run.sh
user_jvm_args.txt

# --- Opcional: Archivos de seguridad (Recomendado) ---
server.properties
ops.json
whitelist.json
banned-ips.json
banned-players.json
